// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showo {
	color: black;
}

#edito {
	color: black;
}

#destroyo {
	color: black;
}

#ordera {
	color: #0277bd; 
}

.createorderBtn {
	background: #0277bd;
	color: white;
	border-style: outset;
	border-color: #0277bd;
	height: 40px;
	width: 100px;
	font: bold 15px arial, sans-serif;
	text-shadow:none;
	box-shadow: 0 0 0 0 rgb(2, 119, 189);
  background-color: #0277bd;
 	background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}